# ignore 'files/config.json' since it might contain sensitive infos
**/config.json
**/config_default.json
**/config_.json

# ignore all the bash scripts
*.sh
*.ssh
*.log
*.swp

# ignore any file with '.ignore' extension
*.ignore

# ignore pycache
__pycache__
